<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apptitle" value="我的事项单" />
    <add key="APPBkcolor" value="121,176,173" />
    <add key="ContentBkcolor" value="219,231,229" />
    <add key="photodir" value="" />
    <add key="photoclock" value="3000" />
    <add key="photourl" value="https://api.ioliu.cn/bing/" />
    <add key="uid" value="e39d50f2-e200-4387-a2c1-bc28ed3db789" />
    <add key="bakurl" value="http://dsf001.lerio.cn/ForNotes/Handler.ashx" />
  </appSettings>
</configuration>